<section class="section-advantages">
  <div class="advantages-box">
    <div class="advantages-text-box">
      <h3 class="advantages-page-text">01</h3>
      <p class="advantages-text">
        Swimming and water sports: try your hand at water skiing
      </p>
      <h3 class="advantages-page-text">02</h3>
      <p class="advantages-text">Fishing: try to catch your own dinner</p>
      <h3 class="advantages-page-text">03</h3>
      <p class="advantages-text">
        Sightseeing tours: take a shore or island tour, enjoy the views and
        sunsets from the water
      </p>
      <h3 class="advantages-page-text">04</h3>
      <p class="advantages-text">
        Rest and relaxation: read a book or listen to music while enjoying the
        outdoor atmosphere.
      </p>
    </div>
    <div class="advantages-img">
      <img
        class="advantages-images"
        srcset="./images/mob@1x.jpg 1x, ./images/mob@2x.jpg 2x"
        src="./images/mob@1x.jpg"
        alt=""
        width="264"
        height="260"
      />
    </div>
  </div>
</section>
