<section class="section-advantages">
  <div class="advantages-box">
    <h2 class="advantages-title visually-hidden">Advantages</h2>
    <ol class="advantages-list list">
      <li class="advantages-list-item">
        <p class="adantages-list-number">01</p>
        <p class="advantages-list-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantages-list-item">
        <p class="adantages-list-number">02</p>
        <p class="advantages-list-text">
          Fishing: try to catch your own dinner
        </p>
      </li>
      <li class="advantages-list-item">
        <p class="adantages-list-number">03</p>
        <p class="advantages-list-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-list-item">
        <p class="adantages-list-number">04</p>
        <p class="advantages-list-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <picture>
      <source
        srcset="./images/des-1440@1x.jpg 1x, ./images/des-1440@2x.jpg 2x"
        media="(min-width: 1440px)"
      />
      <source
        srcset="./images/des-1280@1x.jpg 1x, ./images/des-1280@2x.jpg 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/tab@1x.jpg 1x, ./images/tab@2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/mob@1x.jpg 1x, ./images/mob@2x.jpg 2x"
        media="(max-width: 767px)"
      />
      <img
        class="advantages-img"
        src="./images/mob@1x.jpg"
        alt="yacht picture"
      />
    </picture>
  </div>
</section>
