    <!-- Our yachts -->
    <section class="our-yachts">
      <div class="container">
        <h2 class="our-yachts-title">Choose your dream yacht and sail away into the sunset
        </h2>
        <ul class="our-yachts-list">
          <li class="our-yachts-list-item">
            <img
              class="our-yachts-list-item-img"
              alt="yacht BELLE ANNA"
              srcset="./YachtJet/Arrow@2x.jpg 2x"
              src="./YachtJet/Arrow.jpg"
             
            />
            <div class="our-yachts-card" >
            <ul class="block-names">
              <li>
                <p class="yachts-name">arrow</p>
              </li>
              <li>
                <p class="yachts-category">luxury yahts</p>
              </li>
            </ul>
            <svg class="vector"
              xmlns="http://www.w3.org/2000/svg"
              width="329"
              height="2"
              viewBox="0 0 329 2"
              fill="none"
            >
              <path d="M0.5 1H328.5" stroke="#040306" stroke-opacity="0.1" />
            </svg>
            <div class="block-categories-titles">
            <ul class="block-categories-title">
              <li>
                <p class="block-categories-name">length</p>
              </li>
              <li>
                <p class="block-categories-name">builder</p>
              </li>
              <li>
                <p class="block-categories-name">built</p>
              </li>
              <li>
                <p class="block-categories-name">guests</p>
              </li>
              <li>
                <p class="block-categories-name">price</p>
              </li>
            </ul>
            <ul class="block-categories-details">
              <li>
                <p class="block-categories-numbers">48m(155ft)</p>
              </li>
              <li>
                <p class="block-categories-numbers">Admiral</p>
              </li>
              <li>
                <p class="block-categories-numbers">2021</p>
              </li>
              <li>
                <p class="block-categories-numbers">11 in 5 cabins</p>
              </li>
              <li>
                <p class="block-categories-numbers">€33,500,000</p>
              </li>
            </ul>
        </div>
      </div>
          </li>
    
          <li class="our-yachts-list-item">
            <img
              class="our-yachts-list-item-img"
              alt="yacht BELLE ANNA"
              srcset="./YachtJet/Benetti@2x.jpg 2x"
              src="./YachtJet/Benetti.jpg"
              width="360"
            />
            <ul class="block-names">
              <li>
                <p class="yachts-name">BENETTI OASIS 40M BO122</p>
              </li>
              <li>
                <p class="yachts-category">luxury yahts</p>
              </li>
            </ul>
            <svg class="vector"
              xmlns="http://www.w3.org/2000/svg"
              width="329"
              height="2"
              viewBox="0 0 329 2"
              fill="none"
            >
              <path d="M0.5 1H328.5" stroke="#040306" stroke-opacity="0.1" />
            </svg>
            <div class="block-categories-titles">
              <ul class="block-categories-title">
                <li>
                  <p class="block-categories-name">length</p>
              </li>
              <li>
                <p class="block-categories-name">shipyard</p>
              </li>
              <li>
                <p class="block-categories-name">built</p>
              </li>
              <li>
                <p class="block-categories-name">guests</p>
              </li>
              <li>
                <p class="block-categories-name">price</p>
              </li>
            </ul>
            <ul class="block-categories-details">
              <li>
                <p class="block-categories-numbers">41m(133ft)</p>
              </li>
              <li>
                <p class="block-categories-numbers">Benetti</p>
              </li>
              <li>
                <p class="block-categories-numbers">2025</p>
              </li>
              <li>
                <p class="block-categories-numbers">10 in 5 cabins</p>
              </li>
              <li>
                <p class="block-categories-numbers">€23,200,000</p>
              </li>
            </ul>
          </li>
          <li class="our-yachts-list-item">
            <img
              class="our-yachts-list-item-img"
              alt="yacht BELLE ANNA"
              srcset="./YachtJet/Belle Anna@2x.jpg 2x"
              src="./YachtJet/Belle Anna.jpg"
              width="360"
            />
            <ul class="block-names">
              <li>
                <p class="yachts-name">belle anna</p>
              </li>
              <li>
                <p class="yachts-category">luxury yahts</p>
              </li>
            </ul>
            <svg class="vector"
              xmlns="http://www.w3.org/2000/svg"
              width="329"
              height="2"
              viewBox="0 0 329 2"
              fill="none"
            >
              <path d="M0.5 1H328.5" stroke="#040306" stroke-opacity="0.1" />
            </svg>
            <div class="block-categories-titles">
              <ul class="block-categories-title">
                <li>
                  <p class="block-categories-name">length</p>
              </li>
              <li>
                <p class="block-categories-name">shipyard</p>
              </li>
              <li>
                <p class="block-categories-name">built</p>
              </li>
              <li>
                <p class="block-categories-name">guests</p>
              </li>
              <li>
                <p class="block-categories-name">price</p>
              </li>
            </ul>
            <ul class="block-categories-details">
              <li>
                <p class="block-categories-numbers">50m(155ft)</p>
              </li>
              <li>
                <p class="block-categories-numbers">ISA</p>
              </li>
              <li>
                <p class="block-categories-numbers">2012</p>
              </li>
              <li>
                <p class="block-categories-numbers">12 in 6 cabins</p>
              </li>
              <li>
                <p class="block-categories-numbers">€21,000,000</p>
              </li>
            </ul>
          </li>
        </ul>
        <button class="our-yachts-button" type="button">Yacht rental</button>
      </div>
    </section>