<!-- advantages -->

<section class="advantages section">
    <div class="container container-des">
        <h2 class="advantages-title visually-hidden">Advantages</h2>
        <ol class="advantages-list list">
            <li class="advantages-list-item">
                <p class="advantages-list-number">01</p>
                <p class="advantages-list-text text">Swimming and water sports: try your hand at water skiing</p>
            </li>
            <li class="advantages-list-item">
                <p class="advantages-list-number">02</p>
                <p class="advantages-list-text">Fishing: try to catch your own dinner</p>
            </li>
            <li class="advantages-list-item">
                <p class="advantages-list-number">03</p>
                <p class="advantages-list-text">Sightseeing tours: take a shore or island tour, enjoy the views and
                    sunsets from the water</p>
            </li>
            <li class="advantages-list-item">
                <p class="advantages-list-number">04</p>
                <p class="advantages-list-text">Rest and relaxation: read a book or listen to music while enjoying the
                    outdoor atmosphere.</p>
            </li>
        </ol>

        <picture>
            <source srcset="./images-advantages/1.2-d.jpg 1x, 
                        ./images-advantages/1.2-d@2x.jpg 2x" media="(min-width: 1440px)">
            <source srcset="./images-advantages/1-d.jpg 1x, 
                        ./images-advantages/1-d@2x.jpg 2x" media="(min-width: 1280px)">
            <source srcset="
                    ./images-advantages/1-t.jpg 1x,
                    ./images-advantages/1-t@2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="
                    ./images-advantages/1-m.jpg 1x,
                    ./images-advantages/1-m@2x.jpg 2x" media="(max-width: 767px)">
            <img class="advantages-img" src="./images-advantages/1-m.jpg" alt="cocpit">
        </picture>
    </div>
</section>