/* ==Advantages== */

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 20px;
  border-radius: 24px;
  background: #1B414B;
  margin-bottom: 20px;
}

.advantages-list-number {
  color: #FBFBFB;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 36px;
}

.advantages-list-text {
  position: relative;
  width: 292px;
  color: #FBFBFB;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: -0.05em;
  opacity: 0.8;
}

.advantages-list-text::before {
  display: block;
  content: "";
  width: 295px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 18px;
  background: rgba(251, 251, 251, 0.10);
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -18px;
}

.text {
  width: 220px;
}

.advantages-img {
  border-radius: 24px;
}

/* ==TABLET section-reviews== */

@media screen and (min-width: 768px) {

  .container {
    max-width: 767px;
    padding: 0 32px;
  }

  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px 32px;
    padding: 90px 32px;
    margin-bottom: 32px;
  }

  .advantages-list-item {
    width: 303px;
  }

  .advantages-list-number {
    font-size: 32px;
  }

  .advantages-list-text {
    color: #FBFBFB;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
  }

  .advantages-list-text::before {
    width: 304px;
  }
}

/* ==TABLET section-reviews== */


/* ==DESKTOP_1280 section-our-yachts== */

@media screen and (min-width: 1280px) {

  .container {
    max-width: 1280px;
    padding: 0 50px;
  }

  .advantages-list {
    gap: 44px 44px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 50px;
    padding-right: 62px;
    margin-bottom: 0;
  }

  .advantages-list-text::before {
    width: 280px;
  }

  .advantages-list-item {
    width: 280px;
  }

  .container-des {
    display: flex;
    gap: 32px;
  }

}

/* ==DESKTOP_1280 section-reviews== */

/* ==DESKTOP_1440 section-reviews== */

@media screen and (min-width: 1440px) {

  .container {
    max-width: 1440px;
  }

  .advantages-list {
    padding-right: 50px;
    gap: 44px 32px;
  }

  .advantages-list-item {
    width: 318px;
  }

  .advantages-list-text::before {
    width: 318px;
  }
}


/* ==DESKTOP_1440 section-reviews==*/